# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\yaptığım projeler\Otomasyon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
